<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link href="css/profile.css" rel="stylesheet" type="text/css">
    <title>Profile</title>
</head>
<body>
    <h1 class="header">Profile</h1>
    <hr class="hr" />
    <div class="page-content">
        <p><b>Username:</b> <%= name %></p>
        <p><b>Email:</b> <%= email %></p>
        <p><b>Bio:</b> <%= bio %></p>
        <p><b>Followers:</b> <%= followers %></p>
        <p><b>Following:</b> <%= following %></p>
        <a href="/">
            <button class="btn">Home</button> 
        </a>
        <a href="/logout">
            <button class="btn">Logout</button> 
        </a>
    </div>
    
</body>
</html>